*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    margin:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

h1{
    position:absolute;
    top:16px;
}

.grid{
    width:400px;
    height:350px;
    padding:16px;
    background-color: #dedede;
    border:2px solid #000000;
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.grid > * {
    border:#000000 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.display{
    background-color: #fff;
    border:#000000 solid 1px;
    grid-column: 1 / 5;
    height:70px;
    margin:10px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;

    font-size: 2.5em;
    letter-spacing: 0.1em;
}

#equal{
    grid-column: 4 / 5;
    grid-row: 3 / 7;
    background-color: #4285e3;
    border:none;
    color:#fff;
}

#add{
    background-color: #808080;
}
#minus{
    background-color: #808080;
}
#divide{
    background-color: #808080;
}
#times{
    background-color: #808080;
}

.grid :not(.display){
    cursor: pointer;
}

