
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#B5A486;
    overflow-x: hidden;
}

h1{
    margin:2em;
    font-size:3.5em;
    text-align:center;
}

.box{
    margin:1.5em;
    padding:3em;
    border: black solid 4px;
    border-radius:12px;
    background-color:#903a3d;
    transform:translateX(400%);
    transition: transform 0.5s ease;
}


.box h2{
    font-size:3em;
    color:#B5A486;
}

.box:nth-of-type(even){
    transform:translateX(-400%)
}

.box.show{
    transform:translateX(0)
}